@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(195, 219, 231);
    height: 100vh;
    margin: 0 auto;
    width: 75%;
    
}

.title-container  {
    padding: 1rem 0;
    font-size: bold;
}
.title-container {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.description-container {
    padding: 0rem 1;
}
.description-container p {
    font-family: 'helvetica', cursive;
    text-align: center;
    color: dimgray;
    font-size: 18px;
    letter-spacing: 0,1rem;
    line-height: 1,2rem;
}

image {
    width: 150px;
    border-radius: 5%;
}

.table-container {
    width: 75%;
    margin: 3rem auto;
}
ul{
    list-style: none;
}
#td-method{
    margin-bottom: 2rem;
    padding-left: 3rem;
}
#td-method ul li :first-child {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#td-method ul li {
    margin-bottom: 2rem;
}

#td-method ul li span {
    font-weight: bold;
    font-size: 1,2rem;
    text-transform: uppercase;
}
#ingewnsiant-id {
    text-align: right;
}
#ingewnsiant-id ul li:first-child{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#ingewnsiant-id ul li {
    margin-bottom: 1,2rem;
}


.footer {
padding-bottom: 3rem; 
  
  }
.footer ul {
  margin: 0 auto;
  text-align: center;  
  width: 50%;
}


.footer ul li {
    display: inline-block;
     }
     .footer ul li:first-child {
        margin-right: 2rem;
             }

     .footer ul li:last-child {
    margin-left: 2rem;
         }
         .footer ul li a {
            color: gray;
          font-size: 3rem;
             }
